

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Baloo Chettan', cursive;
}

h2 {
     font-size: 22px;
     font-family: 'Baloo Chettan', cursive;
}

h3 {
     font-size: 18px;
     font-family: 'Baloo Chettan', cursive;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}
.logo{
     margin-left: -15mm;
     margin-top: -7mm;
}
 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #A0C4FF ;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 12px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: rgb(0, 0, 0);
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
}

.collapse{
     margin-right: 45mm;
     
}

.navbar-nav{
     position: fixed;
     z-index: 1;
     background-color: #ffffffc7;
     padding: 2mm;
     border-radius: 0px 30px 30px 0px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: rgb(255, 255, 255);
     background-color: #000;
     border-radius: 30px;
     padding: 10px 27px;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #A0C4FF ;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.sign_btn a {
     background-color: #2d2c2c;
     display: inline-block;
     padding: 7px 35px;
     border-radius: 30px;
     color: #fff;
     font-size: 17px;
     margin-right: -75px;
}

.sign_btn a:hover {
     color: #0aec98;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
     background-repeat: no-repeat;
}

.header {
     background: transparent;
     padding: 30px 30px;
     position: absolute;
     z-index: 999;
}

.text-img {
     height: auto;
     margin: 10mm;
     padding: 10mm;
     background-color: #0aec98;
     margin-top: 20mm;
     
}

.banner_main{
    background-color: #ffffff;
}

.titleFAQ{
     font-family: 'Baloo Chettan', cursive;
     color: #003566;
     font-size: 45px;
     font-weight: bold;
     padding: auto;
     margin-top: 20mm;
     margin-left: 0;
     padding-left: 125mm;
     padding-right: 30mm;
     width: 300mm;
     background-color: #A0C4FF  ;
     right: 250px;
     border-radius: 0px 60px 60px 0px;
     
}

.padding_right1 {
     padding-right: 0;
}


/** faq section **/

.faq {
    
     background: #ffffff;
     padding: 60px 0;
     padding-top: 10px;
	overflow:visible;
}

.faq .titlepage h2 {
     margin-bottom: 20px;
     color: #fff;
}

.faq .titlepage span {
     color: #fff;
     font-size: 17px;
}

.faq-left h2{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-shadow:2px 2px 2px #f4f4f4;
}
.faq-left{
	float:left;
	width:550px;
}

.faq-container{
	width:500px;
	margin:20px auto;
	list-style-type:none;
     
}

     /** question section **/

.faq-container li{
	position:relative;
	margin:5px 0;
	
}
.faq-container li input{
	display:none;
}

.faq-container li label{
     width: 500px;
     font-weight: bold;
	font-family: 'Baloo Chettan', cursive;
	font-weight: 400;
	font-size: 16px;
	/* text-shadow: 1px 1px 1px #666; */
	background-color: #FFD972 ;
     
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -ms-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;

	color: #ffffff;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-radius: 0px 50px 50px 0px;
}
.faq-container li label:hover{
     background-color: #FF7373 ;
     width: 550px;

     color: #ffffff;
     
}

     /** answer section **/

.faq-container li div{
	overflow: hidden;
	height:0px;
	padding:5px 10px;
	
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
     
	border-radius:0 0 5px 5px;
	color:#000000;
	font-family: 'Baloo Chettan', cursive;
	font-size:13px;
}
.faq-container li div p{margin-top:10px}
.faq-container li input:checked{
	background:#000;
}
.faq-container li input:checked ~ div{
	padding-bottom:20px;
}
.faq-container li input:checked ~ div.answer{
	height:auto;
}
.faq-container li input:checked ~ div.big{
	height:110px;
}
     
/** end faq section **/

/** footer **/

.multi {
     color: #f2fffa;
     font-weight: bold;
     font-size: 40px;
     font-family: Poppins;
}

.contact {
     color: #f2fffa;
     font-weight: normal;
     font-size: 20px;
     font-family: Poppins;
}

.footer {
     border-top: #000 solid 1px;
     font-family: Poppins;
     background: #003566;
     padding-top: 50px;
}

.cont {
     text-align: left;
     background-color: #003566;
     padding: 2mm;
}

.cont iframe{
     padding: 2px;
     width: 100%;
}

.cont h3 {
     color: #f8f8ff;
     font-size: 37px;
     line-height: 55px;
     font-weight: bold;
}

.cont_call h3 {
     color: #d8d8d8;
     font-size: 25px;
     line-height: 60px;
     font-weight: bold;
}

.copyright {
     margin-top: 43px;
     padding: 20px 0px;
     background-color: #23262d;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #2bcc91;
}


/** end footer **/

